<div class="right-bottom-second">
    <table width="98%" border="0" style="color:#626262;font-size:12px;">
        <tr style="color:#626262;font-size:14px;">
            <td style="font-weight:bold;width:86px;">设备编号</td>
            <td style="font-weight:bold;width:86px;">设备名称</td>
            <td style="font-weight:bold;width:86px;">生产商</td>
            <td style="font-weight:bold;width:86px;">型号</td>
            <td style="font-weight:bold;width:86px;">生产日期</td>
            <td style="font-weight:bold;width:86px;">使用时间</td>
        </tr>
        #if($commonPage&&$commonPage.data)
            #foreach($accountToDeviceTwo in $commonPage.data)
                <tr>
                    <td>$!{accountToDeviceTwo.device.deviceNo}</td>
                    <td>$!{accountToDeviceTwo.device.deviceName}</td>
                    <td>$!{accountToDeviceTwo.device.productName}</td>
                    <td>$!{accountToDeviceTwo.device.model}</td>
                    <td>$!{accountToDeviceTwo.productTime}</td>
                    <td>$!{accountToDeviceTwo.time}</td>
                </tr>
            #end
        #end
    </table>
    #pagebar($commonPage "${rc.contextPath}/accountToDeviceController/getDeviceListByMap.html" "deviceListDiv")
</div>