<script src="${link.contextPath}/resources/assets/js/bootbox.min.js"></script>



<script>
    function bootBoxAlert(msg) {
   var htmlMsg=' <div class="alert alert-info">'+
           '  <button type="button" class="close" data-dismiss="alert">'+
              ''+
               ' </button>'+msg+'   <br /> </div>';
        bootBoxShow(htmlMsg);

        setTimeout(function(){
            $(".bootbox-close-button").click();
        }, 1000);

    }


    function bootBoxShow(showHtml,title,width) {

            var dialog =bootbox.dialog({
                message: showHtml,
                title:title
            });


    }
    



</script>
