
     <table width="98%" border="0" style="color:#626262;font-size:12px;">
        <tr style="color:#626262;font-size:14px;">
            <td style="font-weight:bold;width:86px;">选择</td>
            <td style="font-weight:bold;width:86px;">编号</td>
            <td style="font-weight:bold;width:86px;">角色</td>
            <td style="font-weight:bold;width:86px;">模块</td>
            <td style="font-weight:bold;width:86px;">权限</td>
        </tr>
        #if($commonPage&&$commonPage.pageData)
            #foreach($rolePermission in $commonPage.pageData)
                <tr>
                    <td><input type="checkBox" name="rowId"/ ></td>
                    <td>$!{rolePermission.roleId}</td>
                    <td>$!{rolePermission.roleName}</td>
                    <td>$!{rolePermission.permBlock} </td>
                    <td>
		      <input type="hidden" name="permId" value="$!{rolePermission.permId}">
		      $!{rolePermission.permName}
		    </td>
                </tr>
            #end
        #end
    </table>
    #pagebar($commonPage "${link.contextPath}/rolePermissionDetailController/getList" "rolePermissionListDiv")
