<meta charset="UTF-8">
#parse("common/commonList.vm")

<link rel="stylesheet" href="${link.contextPath}/resources/css/bootstrap.min2.css">
<link rel="stylesheet" href="${link.contextPath}/resources/css/vrstyle.css">

<script src="${link.contextPath}/resources/js/commonDelete.js"></script>
<script src="${link.contextPath}/resources/js/bootstrap.autocomplete.js"></script>
<script src="${link.contextPath}/resources/js/commonSearchAutoComplete.js"></script>

<script type="text/javascript">
    function searchRolePermission() {
        var param = {};
        var roleName = $("#roleName").val();
        if (roleName && roleName != "") {
           param.roleName=roleName;
        }
        searchPage(1, 10, '${link.contextPath}/rolePermissionDetailController/getList.html', JSON.stringify(param), "rolePermissionListDiv");
    }

    function clearSearch() {
        $("#roleName").val("");
    }

    function insertData(){
       var obj=document.getElementsByName("perm");
       var roleId=$("#roleSelect").val();
       var param;
       var list = [];
       for(k in obj){
        if(obj[k].checked)
	{
	    param = {};
	    param.roleId=roleId;
	    param.permId=obj[k].value;
	    list.push(param);
	}
       }

        $.ajax({
	       url:"${link.contextPath}/rolePermissionController/insertList",
	       type: 'post',
	       data: JSON.stringify(list),
	       dataType: 'json',
	       success:function(result){
		 if(result.isResult)
		 {
                    alert("添加成功");
		 }
		 else
		 {
                     alert("添加失败");
		 }
	       },
	       error: function () {
                  alert("添加异常");
               }
	});
    }

    function deleteData(){
      var cell = document.getElementsByName("rowId");
      var param;
      var list = [];
      for(k in cell){
        if(cell[k].checked)
	{
	    param = {};
	    param.roleId=cell[k].parentNode.parentNode.cells[1].innerHTML;
	    param.permId=cell[k].parentNode.parentNode.cells[5].innerHTML;
	    list.push(param);
	}
       }

        $.ajax({
	       url:"${link.contextPath}/rolePermissionController/deleteList",
	       type: 'post',
	       data: JSON.stringify(list),
	       dataType: 'json',
	       success:function(result){
		 if(result.isResult)
		 {
                    alert("删除成功");
		 }
		 else
		 {
                    alert("删除失败");
		 }
	       },
	       error: function () {
                  alert("删除异常");
               }
	});
    }
</script>

<div>
  <form id="rolePermissionForm">
   角色名称：<input type="text" id="roleName" name="roleName"/>
             <input type="button" value="添加" onclick="insertData()" />
	     <input type="button" value="删除" onclick="deleteData()" />
             <input type="button" value="查询" onclick="searchRolePermission()" />
             <input type="button" value="重置" onclick="clearSearch()" />
  </form>
  <div>
   <form id="insertForm">
    <h4>添加角色权限</h4>
    角色名称：
    <select id="roleSelect">
     <option value="">请选择</option>
     #foreach($role in $roleList)
       <option value="${role.roleId}">${role.roleName}</option>
     #end
    </select>

    权限名称：
    <ul>
  #foreach($permission in $permissionList)
   #if($permission.parentId==0)
    #set($parentId=$permission.permId)
    #set($menuIndex=0)
   <li>
    <input type="hidden" value="$!{permission.permId}">
    $!{permission.permName}

    #foreach($subPermission in $permissionList)
     #if($subPermission.parentId==$parentId)
      #if($menuIndex==0)
       <ul>
      #end
        <li>
           <input type="checkBox" name="perm" value="${subPermission.permId}"> ${subPermission.permName}
        </li>
       #set($menuIndex=$menuIndex+1)
     #end
    #end
   #if($menuIndex>0)
    </ul>
   #end
   </li>
   #end
  #end
 </ul>

   </div>
  </form>
</div>
<div id="rolePermissionListDiv"></div>
     