<script>
    if(window.top!= window){
        window.top.location.reload();
    }
</script>
<link href="${link.contextPath}/resources/assets/css/bootstrap.min.css" rel="stylesheet"/>
<script src="${link.contextPath}/resources/js/jquery-1.7.1.js"></script>
<script src="${link.contextPath}/resources/assets/js/bootstrap.min.js"></script>

<body onkeydown='onEnterDown();'></body>
<div class="loginMain">
    <div class="logintext">
        <form id="loginForm" action="#" method="post">
            <div class="title">
	       <strong>账户登录</strong>
	    </div>
            <div class="control-group">
                <div class="controls">
                    <input type="text" id="tenantNo" name="tenantNo" onblur="errorChange('tenantNo','')"
                           required placeholder="请输入账号"/>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="请输入密码" required/>
                </div>
            </div>

            <div id="vc">验证码
                <input name="code" id="mcode" type="text" onblur="checkCode()"
                      placeholder="请输入验证码" required/>
            </div>

            <img id="vcp"
                 onclick="this.src='${link.contextPath}/kaptchaImageController/getKaptchaImage.html?codeType=login&e='+new Date()"
                 src="${link.contextPath}/kaptchaImageController/getKaptchaImage.html?codeType=login">
            
            <div class="form-group" style="margin-bottom: 0px;">
                <div class="col-lg- col-sm-5 control-label">
                    <input type="hidden" class="form-control" name="rePeatPassword"/>
                </div>
            </div>
            <input type="submit" id="loginBtn" style="display: none;" :/>
            <button type="button" onclick="doLogin()">登录</button>
        </form>
      
    </div>
</div>


<script>
    function onEnterDown(){
        if(window.event.keyCode == 13){
           $('#loginBtn').click();
        }
    }

    function doLogin(){
       var checkResult=checkCode();
        if(checkResult){
	  var tenantNo=$('#tenantNo').val();
          var password=$('#password').val();
	  $.ajax({
                url: '${link.contextPath}/userController/checkUser/'+tenantNo+'/'+password+'.json', 
		success: function (result) {
                    if(result.isSuccess){
                        window.location.href="${link.contextPath}/loginController/login.json";
                    }else{
                        if(result){
                            alert(result.resultMsg);
                        }else {
                            alert("登录异常！");
                        }
                        $('#loginBtn').click();
                    }
                }, error: function () {

                }
            });
        }
    }

    function errorChange(id, str) {
        var element = document.getElementById(id);
        if(element)
        element.setCustomValidity(str);
    }

    function checkCode() {
        var checkResult=true;
        var mCode = $("#mcode").val();
        if (!mCode || mCode == '') {
            return false;
        }
        $.ajax({
            async: false,
            cache: false,
            type: 'POST',
            url: '${link.contextPath}/kaptchaImageController/checkBody.html?codeType=login',// 请求的action路径
            data: {"mCode": mCode},//参数
            error: function () {// 请求失败处理函数
                errorChange("mCode", "验证码验证异常！")
            },
            success: function (data) {
	        var result = eval('('+ data +')');
                var mCodeElement = document.getElementById("mCode");
                if (!result.isSuccess) {
                    errorChange("mCode", "验证码不正确！")
                    checkResult=false;
                } else {
                    errorChange("mCode", "");
                }

            }
        });
        return checkResult;
    }
</script>